{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Recipe</title>
    <link rel="icon" type="image/png" href="imgs/Rectangle 2.png">
    <link rel="stylesheet" href="{% static 'css/Add_Recipe_style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="glass">
            <h1>Add a New Recipe</h1>
            <form id="recipe-form" action="" method="POST">
                {% csrf_token %}
                <label for="recipe-name">Recipe Name:</label>
                <input type="text" id="recipe-name" name="recipe_name" placeholder="Spaghetti Pomodoro" required>

                <label for="recipe-description">Description:</label>
                <textarea id="recipe-description" name="recipe_description" rows="4"
                    placeholder="A classic Italian dish made with spaghetti and fresh tomato-based sauce."
                    required></textarea>

                <label for="recipe-ingredients">Ingredients:</label>
                <textarea id="recipe-ingredients" name="recipe_ingredients" rows="4"
                    placeholder="Example: Spaghetti 1 kilo, Tomatoes 2 pieces, Garlic 2 cloves" required></textarea>

                <label>Course:</label>
                <div>
                    <label><input type="radio" name="course" value="Main Course" required> Main Dish</label>
                    <label><input type="radio" name="course" value="Appetizers"> Appetizer</label>
                    <label><input type="radio" name="course" value="Dessert"> Dessert</label>
                </div>

                <label for="recipe-image">Image URL:</label>
                <input type="text" id="recipe-image" name="recipe_image" placeholder="Example: https://image.png" required>

                <button type="submit">Add Recipe</button>
            </form>
        </div>
    </div>
    <script src="Java_Script/Add_Recipe.js"></script>
</body>

</html>