body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "Lilita One", sans-serif;    
    height: 100vh;
    margin: 0;
    text-align: center;
    background-image: url('imgs/Admin_Profile_Page.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}


.put {
    width: 120px;
    height: 120px;
    background: url('https://tse4.mm.bing.net/th?id=OIP.Hpkw8reHpcO8HVvMrDxRDAHaHa&w=200&h=200&c=7') center no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 4px solid #f76f6f;
    box-shadow: 0 0 20px #f76f6f;
}

.user-container {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    border-style: dashed;
    margin-top: 90px;
}

.details {
    color: #fff; 
    font-size: 20px; 
    margin: 3px 0;
    cursor: pointer;
    background-size: auto;
    transition: all 0.5s ease;
}

.details p {
    color: #f76f6f;
}

.details:hover {
    color: #f76f6f; 
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff; 
}

.button-link {
    margin-top: 30px;
    padding: 15px 30px;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.8); 
    color: black; 
    text-decoration: none;
    border-radius: 10px;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
}

i{
    margin-right: 8px; /* adjust the spacing as needed */
}

.button-link:hover {
    background-color: rgba(255, 255, 255, 0.952);  
}

@media (max-width: 768px) {
    .put {
        width: 150px;
        height: 150px;
    }

    .details {
        font-size: 18px; 
    }

    .button-link {
        font-size: 20px; 
        padding: 10px 20px; 
    }
}


